* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#main-container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 7fr;
}

#header-container{
    position: relative;
    box-shadow: 0 1px 5px #BDBDBD;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 900;
    padding: 25px;
}

#content-container{
    background-color: #f0eef1;
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 9fr; */
    display: flex;
    flex-direction: column;
}

#content-header{
    height: 80px;
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: end;
}

#content-body{
    width: 100%;
    padding: 25px 35px 25px 35px;
}

#content-grid-container{
    margin-left: auto;
    margin-right: auto;
    display: grid;
    max-width: 1300px;
    /* justify-content: center; */
    /* justify-items: center; */
    /* align-items: start; */
    gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;  
    /* grid-template-rows: 1fr 1fr; */
    /* grid-template-columns: auto auto auto;      */
}

#new-book-button{
    height: 50px;
    width: 180px;
    border: none;
    border-radius: 8px;
    font-size: 25px;
    font-weight: 600;
    outline: none;
    cursor: pointer;
}

#new-book-button:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

#modal{
    width: 300px;
    height: auto;
    background-color: #f0eef1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 4;
    border: none;
    border-radius: 15px;
    padding: 20px;
}

#modal.active{
    transform: translate(-50%, -50%) scale(1);
}

#modal::backdrop{
    background-color: rgba(0, 0, 0, 0.2)
}

#overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    pointer-events: none;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}

.text-input{
    width: 100%;
    height: 38px;
    border: none;
    border-radius: 5px;
    padding-left: 5px;
    font-size: 16px;
    font-weight: 500;
}

.text-input::placeholder{
    font-size: 16px;
    font-weight: 500;
}

.text-input:focus{
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

#checkbox-container{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 500;
}

#read{
    width: 18px;
    height: 18px;
    accent-color: white;
}

#read:hover{
    cursor: pointer;
}

h1{
    font-size: 25px;
    padding: 0;
    margin: 0;
}

#submit-button{
    width: 100%;
    height: 45px;
    flex-grow: 1;
    border-radius: 10px;
    border: none;
    background-color: #9fff9c;
    font-size: 19px;
    font-weight: 500; 
    cursor: pointer;
}

#submit-button:hover{
    background-image: linear-gradient(rgb(0 0 0/9%) 0 0);
}

#add-button:hover{
    background-image: linear-gradient(rgb(0 0 0/9%) 0 0);
}

.book-container{
    min-width: 340px;
    max-width: 480px;
    /* min-height: 292px; */
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 1px 5px #BDBDBD;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
    padding: 20px;
    font-size: 20px;
}

.book-text{    
    overflow-wrap: break-word;
}

.read-indicator-button{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 7px;
    font-size: 20px;
    cursor: pointer;
    line-height: 50px;
}

.read-indicator-button:hover{
    background-image: linear-gradient(rgb(0 0 0/9%) 0 0);
}

.remove-button{
    width: 100%;
    height: 50px;
    background-color: #f0eef1;
    border: none;
    border-radius: 7px;
    font-size: 20px;
    cursor: pointer;
    line-height: 50px;
}

.remove-button:hover{
    background-image: linear-gradient(rgb(0 0 0/9%) 0 0);
}

.error-message{
   color: red; 
   font-weight: 500;
   /* font-size: 14px; */
   text-align: center;
}

@media (max-width: 1160px){
    #content-grid-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 790px){
    #content-grid-container{
        grid-template-columns: 1fr;
        max-width: 500px;
    }
}